@model Pedido
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<main class="main col">
                <div class="row">
                    <div class="columna col-lg-6">
                        <div class="widget nueva_entrada">
                            <h3 class="titulo">Centro de Ventas - Luz y Luna</h3>

                        </div>

                        <div class="columna col-lg-7">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Consultar catálogo</button>
                            <div id="demo" class="collapse">
                                <br>
                            <input type="text" class="form-control" placeholder="Escriba el Producto" name="cantidad"  id="search">
<br>
                                            <form method="POST" asp-controller="Ventas"asp-action="Registrar" id="Productos">
                                            
                                                <table id="table" class="table table-sm table-hover table-bordered table-responsive-lg table-active" >
                                                <thead>
                                                    <tr>
                                                    <th></th>
                                                    <th >tipo</th>
                                                    <th >nombre</th>
                                                    <th >precio</th>
                                                    

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in (List<Producto>)ViewBag.Prod)
                                                    {
                                                            <tr>  
                                                        <td><input type="radio" name="idprod" asp-for="idprod" value="@item.idprod"></td> 
                                                        <td>@item.tipo </td>
                                                        <td>@item.nom</td>
                                                        <td>@item.precio</td>
                                                    </tr>
                                                    }
                                                    
                                                
                                                </tbody>
                                                </table>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                            <input type="number" class="form-control" asp-for="cantidad" min="0" placeholder="Cantidad">
                                                        <input type="hidden" value="@ViewBag.num" asp-for="numhab">
                                                        <input type="hidden" value="@ViewBag.cli" asp-for="codcli">
                                                    </div>
                                                    <div class="col-md-4">
                                                
                                                    <button class="btn btn-primary">Agregar</button>
                                                    </div>
                                                </div>
                                            </form>
                            </div>
                            
                         
                        </div>
                    </div>



                    <div class="columna col-lg-5">
                        <div class="card">
                            <div class="card-header">
                                Datos de Habitación
                                
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <span class="input-group-text">N° de Habitación</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="" id="" class="form-control"  value="@ViewBag.num" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <span class="input-group-text">Hora del Pedido</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="" id="" class="form-control" value="@ViewBag.hora" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <span class="input-group-text">Nombre del Cliente</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="" id="" class="form-control" value="@ViewBag.nom" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <span class="input-group-text">Importe a Pagar</span>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" name="" id="" class="form-control" value="@ViewBag.monto" disabled>
                                    </div>
                                </div>

                                <div class="row">
                                    <p>Estado del Pago:</p>

                                </div>
                                <div class="row">
                                    <div class="form-check">
                                        <label class="form-check-label">
										<input type="radio" name="EstadoPago" id="falta" value="falta"> Falta Pagar
									</label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
										<input type="radio" name="EstadoPago" id="cancelado" value="cancelado"> Cancelado
									</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                
                                </div>
                                <div class="col-md-6">
                                    <a asp-controller="Ventas" asp-action="Detalle"><button class="btn btn-primary" >Grabar</button></a>

                                </div>
                                <div class="col-md-3">
                                
                                </div>
                            </div>
                            
                        </div>


                    </div>




                </div>


                <div class="row mt-5">
                    <div class="columna col-lg-8">
                        <table class="table table-sm table-hover table-bordered table-responsive-lg table-active">
                            <div class="row mb-3">


                            </div>

                        @if(ViewBag.Pedido!=null){
                            <thead>

                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio Venta</th>
                                    <th>Sub Total</th>
                            
                                    <th>Eliminar</th>
                                </tr>
                            </thead>

                            @foreach (var item in (List<Pedido>)ViewBag.Pedido)
                            {
                            <tr class="">
                                <td>@item.tipo</td>
                                <td>@item.nombre</td>
                                <td>@item.cantidad</td>
                                <td>@item.precio</td>
                                <td>@item.subtotal</td>
                                <td> <a asp-controller="Ventas" asp-action="Eliminar" asp-route-idd="@item.iddetve"><i class="icon-logout"></i></a></td>
                                
                            </tr>    
                            }
                            
                        
                        }
                        </table>
                    </div>
                </div>
            </main>
            <script type="text/javascript">
                                        $("#search").keyup(function() {
                                _this = this;
                                // Show only matching TR, hide rest of them
                                $.each($("#table tbody tr"), function() {
                                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                                    $(this).hide();
                                    else
                                    $(this).show();
                                });
                                });
                                    </script>