@model Cliente
<main class="main col">
                <div class="row">
                    <div class="columna col-lg-7">
                        <div class="widget nueva_entrada">
                            <h3 class="titulo">Inicio Luz y Luna</h3>
                        


                        </div>


                    </div>






                </div>



                <div class="row mb-4">

                    <div class="columna col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Datos de Huesped
                            </div>
                            <div class="card-body">
                                <form method="POST" id="Cliente" asp-controller="Home" asp-action="Index">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <select class="form-control" asp-for="tipodoc">
											<option value="1">DNI</option>
											<option value="2">Pasaporte</option>
											<option value="3">Ruc</option>
										</select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <input type="text" class="form-control" asp-for="numdocli">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <input type="submit" class="btn btn-primary" value="Verificar Datos">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" value="@ViewBag.nomcli">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control" value="@ViewBag.apellpater">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" class="form-control" value="@ViewBag.tele">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Correo</label>
                                                <input type="email" class="form-control" value="@ViewBag.correocli">
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <span class="input-group-text">Motivo de Viaje</span>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" name="" value="@ViewBag.moti" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Datos de Habitación
                            </div>
                            <div class="card-body">

                                <div class="box-details">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <button class="btn btn-primary">Verificar Pago</button>
                                        </div>
                                        <div class="col-md-12">
                                           
                                               
                                                    @if(ViewBag.Pago!=null){
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Fecha de operación</th>
                                                                <th>Número operación</th>
                                                                <th>Referencia</th>
                                                                <th>Monto</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @foreach(var item in (List<Pago>)ViewBag.Pago){
                                                
                                                        <tr>
                                                            <td>@item.fecope</td>
                                                            <td>@item.numope</td>
                                                            <td>@item.refe</td>
                                                            <td>S/. @item.monto</td>
                                                        </tr>
                                                    
                                                        }  </tbody>
                                                        </table>
                                                    }else{
                                        
                                                        <p style="margin: 10px 20px 10px 20px;">No se encuentra ninguna operación</p>    
                                                    }
                                            
                                        
                                        </div>
                                    </div>





                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row mb-5">


                    <div class="columna col-lg-6">
                    
                        <div class="card">
                            <div class="card-header">
                                Datos Acompañante
                            </div>
                            <div class="card-body">



                                <form method="POST" id="Acompanante" asp-controller="Home" asp-action="Registrar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="hidden" asp-for="numdocli" value="@ViewBag.doc">
                                                <select class="form-control" asp-for="tipdoccodacomp">
													<option value="1">DNI</option>
													<option value="2">Pasaporte</option>
													<option value="3">Ruc</option>
												</select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control" asp-for="numdocacomp">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" asp-for="nomacomp">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control" asp-for="apellacomp">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Fecha de nacimiento</label>

                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">

                                                <input type="date" class="form-control" asp-for="fecnacacomp">
                                            </div>
                                        </div>

                                     <input type="submit" class="btn btn-primary" value="Registrar Acompañante">
                                    </div>
                                </form>



                            </div>
                        </div>

                    </div>

                    <div class="columna col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Room Service
                            </div>


                            
                                    @if(ViewBag.Rooms!=null){
                                    <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Prec. Venta</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach(var item in (List<Room>)ViewBag.Rooms){
                                            <tr>
                                                <td>@item.id</td>
                                                <td>@item.prodnom</td>
                                                <td>@item.cantidad</td>
                                                <td>@item.precio</td>
                                                <td>@item.total</td>
                                            </tr>
                                        }
                                    </tbody>
                                    </table>

                                        
                                    }else{
                                        
                                        <p style="margin: 10px 20px 10px 20px;">No se encuentra ninguna operación</p>    
                                    }

                               




                        </div>

                    </div>

                </div>
				<div class="row mb-4">
                    <div class="columna col-lg-4">

                    </div>
                    <div class="columna col-lg-2">
                        <button class="btn btn-primary">Atras</button>
                    </div>
                    <div class="columna col-lg-6">
                        <button class="btn btn-primary">Realizar Reserva</button>
                    </div>


                </div>

            </main>